{#
/**
 * Available variables:
 * - node: Object
 * - title: String
 * - type: String
 * - department: String
 * - location: String
 * - company: string
 * - url: String
 */
#}
<h1>Nouvelle offre d'emploi</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere lorem in finibus finibus. Donec id eleifend
  arcu. In hac habitasse platea dictumst. Curabitur condimentum convallis pharetra.</p>
<p>
  <strong>Title</strong><br>
  {{ title }}<br>
  <strong>Type</strong><br>
  {{ type }}<br>
  <strong>Department</strong><br>
  {{ department }}<br>
  <strong>Location</strong><br>
  {{ location }}<br>
  <strong>Company</strong><br>
  {{ company }}<br>
</p>

<p>Pour avoir tous les détails de cette offre : <a href="{{ url }}">{{ url }}</a></p>
