{#
/**
 * @file
 * Theme override to display a landing_page node.
 */
#}
{%
set classes = [
    node.bundle|clean_class,
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
  {# Content contient tout les fields du node #}
  {# {{ content }} #}
  <div class="block-parent" style="background-image: linear-gradient(180deg, rgba(127,191,235,1) 30%, rgba(244,244,244,1) 100%);">
    <div class="block-child block-half" style="color: #012d8b;">
      <div class="wrapper-block-half">
        <div class="container-half">
          <h2>{{ "Préparez-vous à décoller!"|t }}</h2>
          <p>
            {{ "Que ce soit pour le plaisir, par affaires ou pour voir la famille, on s'ennuie tous de voyager!<br/>
              <br/>
              En collaboration avec <strong>Air Canada</strong>, l'Aéroport international Jean-Lesage de Québec met tout en place pour <strong>faciliter votre prochaine aventure!</strong>"|t
            }}
          </p>
        </div>
        <div class="container-half">
          <img src="/themes/custom/yqb/img/landing-page/airplane.svg" alt="">
        </div>
      </div>
    </div>

    <div class="block-child block-half" style="color: #012d8b;">
      <div class="wrapper-block-half">
        <div class="container-half">
          <h3>{{ "15% de rabais*, 100% de plaisir."|t }}</h3>
          <img
            src="/themes/custom/yqb/img/landing-page/air-canada-vector-logo.svg"
            alt="Air Canada"
            style="min-width: 150px; width:50%; max-width: 280px;"
          >
        </div>
        <div class="container-half">
          <p>
            {{ "<strong>Profitez de 15% de rabais* sur votre prochain vol au départ de Québec avec Air Canada!</strong><br/>
              <br/>
              Pour un temps limité, économisez sur les tarifs de base en classe économique, Économique Privilège et Signature Air Canada pour des vols au départ de Québec.
              <strong>Réservez d'ici 4 octobre</strong> pour des voyages effectués entre le <strong>14 septembre et le 18 décembre 2020.</strong><br/>
              <br/>
              Utilisez le code promotionnel <strong>EWK2NBN1</strong> au moment de la réservation sur <a href='https://www.aircanada.com'><strong>aircanada.com</strong></a><br/>
              <small>* Sur certains tarifs de base. <a href='#conditions-section'>Voir les conditions.</a></small>"|t
            }}
          <p>
          <a class="button--primary"
            href="{{ 'https://www.aircanada.com/fr-ca/vols-de-quebec'|t }}"
            style="color: #b2daf3; background-color: #012d8b;"
            target="_blank"
          >
            {{ "Réserver"|t }}
          </a>
        </div>
      </div>
    </div>

    <div class="transition-image">
      <picture>
        <source  media="(min-width:768px)" srcset="/themes/custom/yqb/img/landing-page/beach-w-sun.svg">
        <img src="/themes/custom/yqb/img/landing-page/beach-w-sun-zoomed.svg" alt="">
      </picture>
    </div>
  </div>

  <div class="block-parent" style="background: linear-gradient(0deg, rgba(221,143,124,1) 0%, rgba(249,175,157,1) 50%);">
    <div class="block-child block-full text-center" style="color: #ffffff;">
      <h3>{{ "Faites vos valises."|t }}</h3>
      <p>{{ "<strong>Un vaste choix de destinations</strong> sont disponibles avec <strong>Air Canada.</strong>"|t }}</p>
      <a class="button--primary"
        href="#"
        style="color: #dd8f7c; background-color: #ffffff;"
      >
        {{ "Découvrir toutes les destinations"|t }}
      </a>
    </div>

    <div class="divisor"></div>

    <div class="transition-image">
      <picture>
        <source  media="(min-width:768px)" srcset="/themes/custom/yqb/img/landing-page/waves.svg">
        <img src="/themes/custom/yqb/img/landing-page/waves-zoomed.svg" alt="">
      </picture>
    </div>
  </div>

  <div class="block-parent" style="background: linear-gradient(180deg, rgba(137,214,207,1) 55%, rgba(50,185,190,1) 100%);">
    <div class="block-child block-half" style="color: #014b4e;">
      <div class="wrapper-block-half">
        <div class="container-half">
          <h3>{{ "Volez sans tracas avec nos mesures renforcées de biosécurité."|t }}</h3>
        </div>
        <div class="container-half">
          <p>{{ "Que ce soit à l'enregistrement, à l'embarquement ou à bord, l'Aéroport international Jean-Lesage de Québec et ses partenaires <strong>ont repensé à leurs protocoles de santé et sécurité</strong> afin de vous <strong>assurer une expérience sécuritaire</strong> tout au long de votre voyage."|t }}</p>
          <a class="button--primary"
            href="https://www.aeroportdequebec.com/fr/pages/conseils-aux-voyageurs-pour-votre-sante-et-celle-des-autres"
            style="color: #72cfcb; background-color: #014b4e;"
          >
            {{ "Voir les mesures en vigueur"|t }}
          </a>
        </div>
      </div>
    </div>

    <div class="transition-image">
      <picture>
        <source  media="(min-width:768px)" srcset="/themes/custom/yqb/img/landing-page/city.svg">
        <img src="/themes/custom/yqb/img/landing-page/city-zoomed.svg" alt="">
      </picture>
    </div>
  </div>

  <div class="block-parent"
    style="background-image: url('/themes/custom/yqb/img/landing-page/lines-background.svg');
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
    <div class="divisor"></div>
    <div class="block-child block-full text-center" style="color: #32b9be;">
      <h3>{{ "Une expérience de voyage souple et sécuritaire avec Air Canada."|t }}</h3>
      <p>{{ "Planifiez votre voyage l'esprit tranquille grâce aux options de réservation souples et élargies d'Air Canada incluant la possibilité de faire une <strong>modification sans frais.</strong> De plus, Air Canada <strong>SoinPropre+</strong>, un programme à l'avant-garde de l'industrie qui comporte maintenant de nouvelles mesures de <strong>biosécurité sans contact</strong>, vous offre une <strong>sécurité accrue</strong> à chaque étape de votre voyage."|t }}</p>
      <a class="button--primary"
          href="{{ "https://www.aircanada.com/ca/fr/aco/home/book/travel-news-and-updates/2020/covid-19.html"|t}}"
          style="color: #ffffff; background-color: #32b9be;"
          target="_blank"
      >
        {{ "En savoir plus"|t }}
      </a>
    </div>

    <div class="block-child block-icons text-center">
      <div class="wrapper-block-icons">
        <a href="#" class="icon-item">
          <img
            src="/themes/custom/yqb/img/landing-page/ac-cleancare-fr.jpg"
            alt="Air Canada soin propre +"
            style="max-width: 200px; min-width: 170px;"
          >
        </a>
        <a href="" class="icon-item">
          <img
            src="/themes/custom/yqb/img/landing-page/ac-flexible-booking-fr.jpg"
            alt="Air Canada réservation flexible"
            style="max-width: 350px; min-width: 250px;"
          >
        </a>
      </div>
    </div>

    <div class="block-child block-full text-center" style="color: #7fbfeb;">
      <h3>{{ "Encore plus, pour vous."|t }}</h3>
      <p>{{ "Prolongez votre escapade et partez la tête tranquille grâce à <strong>notre nouvelle tarification avantageuse sur le stationnement longue durée.</strong>"|t }}</p>
      <a class="button--primary"
        href="{{ "https://www.aeroportdequebec.com/fr/planifier-son-vol/stationnements"|t }}"
        style="color: #ffffff; background-color: #7fbfeb;"
      >
        {{ "En savoir plus"|t }}
      </a>
    </div>
  </div>

  <div class="block-parent" style="background: linear-gradient(180deg, rgba(187,229,255,1) 0%, rgba(127,191,235,1) 100%); color: #012d8b;">
    <div class="transition-image upside-down">
      <picture>
        <source  media="(min-width:768px)" srcset="/themes/custom/yqb/img/landing-page/upside-down-beach.svg">
        <img src="/themes/custom/yqb/img/landing-page/upside-down-beach-zoomed.svg" alt="">
      </picture>
    </div>
    <div class="block-child block-form">
      <h3>{{ "Restez informé sur les offres et promotions de l'aéroport." }}</h3>
      <div class="container-form">
        {# Afficher seulement le webform #}
        {{ content.field_webform }}
      </div>
    </div>

    <div class="block-child block-sponsor text-center">
      <h3>{{ "Une campagne de"|t }}</h3>
      <div class="wrapper-sponsor">
        <img class="sponsor-item"
          src="/themes/custom/yqb/img/landing-page/yqb-logo.png"
          alt="Y Q B"
          style="max-width: 138px; min-width: 88px;"
        >
        <img class="sponsor-item"
          src="/themes/custom/yqb/img/landing-page/air-canada-vector-logo.svg"
          alt="Air Canada"
          style="max-width: 452px; min-width: 272px;"
        >
      </div>
    </div>

    <div id="conditions-section" class="block-child block-full block-conditions">
      <p class="title-conditions">{{ "*Conditions de l'offre d'Air Canada"|t }}</p>
      <ul>
        <li>
          {{ "L'offre est valable uniquement pour les nouvelles réservations effectuées d'ici le 4 octobre 2020."|t }}
        </li>
        <li>
          {{ "La réduction s'applique aux vols au départ de la ville de Québec (YQB) et à destination de toutes les destinations offertes par Air Canada pour des voyages effectués entre le 14 septembre et le 18 décembre 2020."|t }}
        </li>
        <li>
          {{ "La réduction s'applique aux tarifs de base publiés d'Air Canada suivants : économique, Économique Privilège et Air Canada Signature. La réduction est valide pour toute réservation effectuée à <a href='https://www.aircanada.com'>aircanada.com</a> et ne peut être combinée à aucune autre offre de réduction."|t }}
        </li>
        <li>
          {{ "La disponibilité peut varier."|t }}
        </li>
        <li>
          {{ "Certains vols peuvent être exploités par des transporteurs autres qu'Air Canada, comme indiqué lors de la réservation."|t }}
        </li>
        <li>
          {{ "Certains vols à code multiple sont exclus de l'offre."|t }}
        </li>
      </ul>
    </div>
  </div>
</article>
