{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
  node.bundle|clean_class,
  view_mode ? view_mode|clean_class,
  'clearfix',
]
%}
<article{{ attributes.addClass(classes) }}>
  
  {% if content.field_image.0['#item'].entity.uri.value is not empty %}
    <div class="bg-image" style="background-image: url('{{ file_url(content.field_image.0['#item'].entity.uri.value) }}')"></div>
  {% endif %}

  <div class="bg-color {{content.field_tile_background_color[0]['#markup']}}"></div>

  <div class="align-content">
    <h2>{{label}}</h2>
    <p>{{content.field_tile_text[0]}}</p>
    {% if content.field_tile_link[0] is not empty %}
      <div class="btn-wrapper">
        {% if content.field_open_new_window.0 %}
          {{ link(content.field_tile_link[0]['#title'], content.field_tile_link[0]['#url'], { 'target': '_blank'}) }}
        {% else %}
          {{ link(content.field_tile_link[0]['#title'], content.field_tile_link[0]['#url'])}}
        {% endif %}
      </div>
    {% endif %}
  </div>
</article>