<div{{ attributes.addClass('row', 'tiles') }}>
	{% for tile in tiles %}
		<div class="{{ tile.description ? 'col-md-6' : 'col-md-3  col-xs-6' }}">
			<a class="tile tile-home text-center vertical-align embed-responsive {{ tile.description ? 'embed-responsive-2by1' : 'embed-responsive-1by1' }} {% if tile.background_color %}{{ tile.background_color }}{% endif %}" href="{{ tile.url }}" {{ (tile.target) ? "target=" ~ tile.target : '' }}>
				<div class="vertical-align-content {% if tile.hide_content %} content-hidden{% endif %}">
					{% if tile.icon %}
						<img src="{{ tile.icon }}" class="tile-icon" alt="" aria-hidden="true" />
					{% elseif tile.icon_class %}
						<span class="icon {{ tile.icon_class }}" aria-hidden="true"></span>
					{% endif %}

					<h2 class="title-default">{{ tile.title }}</h2>

					{% if tile.description %}
						{% if tile.cta %}
							<span class="btn btn-primary btn-inverse btn-sm">{{ tile.cta }}</span>
						{% endif %}

						<span class="tile-description">{{ tile.description }}</span>
					{% endif %}
				</div>

				{% if tile.background_image %}
					<img data-src="{{ tile.background_image }}" alt="{{ tile.title }}">
				{% endif %}

				<span class="top-bottom-hover"></span>
			</a>
		</div>
	{% endfor %}
</div>