{#
/**
 * @file
 * Home page hero search block
 */
#}
<section{{ attributes.addClass('block', 'clearfix') }} >
    <div class="video-wrapper">
        <video loop autoplay muted playsinline poster="/{{ base_path ~ directory }}/img/yqb2019.jpg?v8">
            {% for video in videos %}
                <source src="{{ video.src }}" type="{{ video.mime }}" />
            {% endfor %}
        </video>
    </div>

    <div class="align-content">
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes.addClass('block-title', 'text-center', 'title-main') }}>{{ label|replace({ '®':'<sup>®</sup>' })|raw }}</h2>
        {% endif %}
        {{ title_suffix }}

        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
</section>

