{#
/**
 * @file
 * Default theme implementation to display a search block.
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class
]
%}
<div{{ attributes.addClass(classes) }}>
  <form data-drupal-form-fields="edit-keys" action="{{ url('search.view_node_search') }}" method="get" class="search-block-form" accept-charset="UTF-8">
    <div class="form-item js-form-item form-type-search js-form-type-search form-item-keys js-form-item-keys form-no-label form-group">
      <label for="edit-keys" class="control-label sr-only">{{ "Recherche"|t }}</label>

      <div class="input-group">

        <span class="input-group-btn">
            <button data-drupal-selector="edit-submit" class="button js-form-submit form-submit btn-default btn-lg btn icon-only" type="submit"  value="Search" name="search">
              <span class="sr-only">{{ "Rechercher"|t }}</span>
              <span class="icon icon-search" aria-hidden="true" data-grunticon-embed></span>
            </button>
        </span>
        <input
            autocomplete="off"
            title=""
            data-drupal-selector="edit-keys"
            class="form-autocomplete form-search form-control ui-autocomplete-input input-lg"
            data-key="search_block"
            placeholder="{{ "Chercher un vol, un service..."|t }}"
            name="keys"
            value=""
            size="15"
            maxlength="128"
            type="search"
        >

        <span class="input-group-btn">
            <a href="#" class="btn-default btn-close">
              <span class="icon icon-close" data-grunticon-embed></span>
            </a>
        </span>
      </div>
    </div>
  </form>
</div>
