{#
/**
 * @file
 * Default theme implementation to display a block.
 */
#}

<div{{ attributes }} class="tile tile-priorities-wrapper">
    <div class="tile-priorities-inner">
        {% if label %}
            {{ label }}
        {% endif %}

        {% block content %}
            {% if content.field_title_section[0] %}
                <span>{{ content.field_title_section }}</span>
            {% endif %}

            {#
            {% if content.field_icon_top[0] %}
                <div class="icon-top">
                    <span class="icon icon-{{ content.field_icon_top[0]['#markup'] }}" data-grunticon-embed></span>
                </div>
            {% endif %}
            #}

            {% if content.field_hook_text[0] %}
                <div class="hook-txt">
                    {{ content.field_hook_text }}
                </div>
            {% endif %}

            {#
            {% if content.field_title_main[0] %}
                <h2>{{ content.field_title_main }}</h2>
            {% endif %}
            #}

            {% if content.body[0] %}
                <div class="body-txt">
                    {{ content.body }}
                </div>
            {% endif %}

            {#
            {% if content.field_icon_bottom[0] %}
                <div class="icon-bottom">
                    <span class="icon icon-{{ content.field_icon_bottom[0]['#markup'] }}" data-grunticon-embed></span>
                </div>
            {% endif %}
            #}
        {% endblock %}
    </div>
</div>
