{#
/**
 * @file
 * Schedules table on homepage
 */
#}
<section{{ attributes.addClass('block', 'clearfix') }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  <span class="gradient"></span>

  {% block content %}
    {{ content }}
  {% endblock %}
</section>

