<div class="swiper-container">
	<div{{ attributes.addClass('tiles', 'tiles-cols', 'swiper-wrapper') }}>
		{% for tile in tiles %}
			<div class="swiper-slide">
				<a class="tile tile-home text-center vertical-align embed-responsive {{ tile.format }} {% if tile.background_color %}{{ tile.background_color }}{% endif %} {% if tile.trigger_nav %}trigger-nav{% endif %}" href="{{ tile.url }}" {{ (tile.target) ? "target=" ~ tile.target : '' }}>
					<div class="vertical-align-content {% if tile.hide_content %} content-hidden{% endif %}">

						{% if tile.icon %}
							<img src="{{ tile.icon }}" class="tile-icon icon icon-{{tile.id}}" alt="{{tile.title}}" aria-hidden="true" />
						{% elseif tile.icon_class %}
							<span class="icon {{ tile.icon_class }}" aria-hidden="true" data-grunticon-embed></span>
						{% endif %}

						<h2 class="title-default">{{ tile.title }}</h2>

						{% if tile.description %}
							{% if tile.cta %}
								<span class="btn btn-primary btn-inverse btn-sm">{{ tile.cta }}</span>
							{% endif %}
						{% endif %}
					</div>
					{% if tile.background_image %}
						{%
						set tilebg = {
							'#theme':      'image_style',
							'#style_name': '304x171_16_9',
							'#uri':        tile.background_image,
							'#alt':        tile.title,
							'#attributes': { class: 'background-image' },
						}
						%}
						{{tilebg}}
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>

