{#
/**
 * @file
 * Default theme implementation for status messages.
 */
#}
{%
  set status_heading = {
    'status': 'Status message'|t,
    'error': 'Error message'|t,
    'warning': 'Warning message'|t,
    'info': 'Informative message'|t,
  }
%}
{%
  set status_classes = {
    'status': 'success',
    'error': 'danger',
    'warning': 'warning',
    'info': 'info',
  }
%}
{% for type, messages in message_list %}
{%
  set classes = [
    'alert',
    'alert-' ~ status_classes[type],
    'alert-dismissible',
    'status-message',
  ]
%}
<div{{ attributes.addClass(classes) }} role="alert">
  <a href="#" role="button" class="close" data-dismiss="alert" aria-label="{{ 'Fermer'|t }}"><span aria-hidden="true">{{ 'Fermer'|t }}</span></a>
  {% if status_headings[type] %}
    <h4 class="sr-only">{{ status_headings[type] }}</h4>
  {% endif %}
  {% if messages|length > 1 %}
    <ul class="item-list item-list--messages">
      {% for message in messages %}
        <li class="item item--message">{{ message }}</li>
      {% endfor %}
    </ul>
  {% else %}
    {{ messages|first }}
  {% endif %}
</div>
{% endfor %}
