{#
/**
 * @file
 * Template for History
 */
#}

<h1 class="title-page">{{ "Une trajectoire marquée par une expansion constante"|t }}</h1>

<div class="panels-history">
    <div class="history">
        <div class="section section-black section-bg" style="background-image: url('/themes/custom/yqb/img/pages/history/hangar.jpg')">
            <div class="section-content">
                <h2 class="title-default">{{ "Avant l’aéroport, les premières envolées"|t }}</h2>

                <p>{{ "L’aventure aéroportuaire de Québec a pris son envol en 1929, soit deux ans après le vol historique reliant New York et Paris effectué par Charles Lindbergh. Les premiers hangars de l’aérodrome de Québec sont érigés sur le site de l’actuel Centre hospitalier de l’Université Laval, à Sainte-Foy. Le transport en avion sert alors essentiellement à la livraison du courrier pendant la saison hivernale. Il aura fallu attendre que la Seconde Guerre mondiale éclate pour qu’un véritable terrain d’aviation soit établi à L’Ancienne-Lorette. Les premiers hangars y sont érigés pour le Corps d’aviation royal canadien et pour la 8e École d’observateurs aériens. C’est sur ce terrain même que le premier vol militaire enregistré à Québec aura lieu, le 11 septembre 1941."|t }}</p>
            </div>

            <img src="/themes/custom/yqb/img/pages/history/hangar-m.jpg" class="img-mobile" alt="">
            <span class="legend legend-bottom-left">{{ "Premiers hangars de l’aéroport érigés à Sainte-Foy en 1937."|t }}</span>
        </div>
        <div class="section no-padding-right">

            <div class="row">
                <div class="col-sm-8">
                    <div class="section-content">
                        <h2 class="title-default">{{ "1943-1960 : Une évolution au rythme<br>du monde fascinant de l’aviation"|t }}</h2>

                        <p>{{ "À compter de 1943, l’aéroport de Québec amorce son développement vers une activité plus commerciale. Jusqu’alors propriété de la Défense nationale, elle passe aux mains du ministère des Transports du Canada. Des améliorations sont dès lors apportées aux installations, notamment par l’ajout de feux de piste et de voies de circulation et d’approche. C’est sur les ailes de la Canadian Pacific Airlines que les premiers vols entre Montréal, Québec, Mont-Joli et Sept-Îles ont lieu. Vers le milieu des années 1950, deux autres transporteurs voient le jour : Trans-Canada Air Lines et Québécair. Le 17 décembre 1957, la première aérogare entre en fonction. Pour soutenir cette nouvelle vocation, les installations sont hautement bonifiées : système d’atterrissage aux instruments, feux d’approche à forte intensité, mise en fonction d’un système de radar d’aéroport et de surveillance des voies aériennes, construction de rampes et d’aires de chargement… L’aéroport de Québec s’installe dans l’ère moderne de l’aviation."|t }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="/themes/custom/yqb/img/pages/history/1943.jpg" alt="">
                        <span class="legend legend-block">{{ "Les trois pistes et les installations<br>de l’aéroport à l’Ancienne-Lorette en 1943"|t }}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-black section-bg" style="background-image: url('/themes/custom/yqb/img/pages/history/expansion.jpg')">
            <div class="section-content">
                <h2 class="title-default">{{ "1960-1980 : Expansion et modernisation"|t }}</h2>

                <p>{{ "L’année 1964 marque un tournant majeur dans l’histoire de l’aviation commerciale, tant à Québec qu’ailleurs dans le monde, avec l’émergence du service par avions à réaction. Devant la croissance de la demande de la clientèle, le ministère des Transports construit une nouvelle aérogare à Québec en 1973. La piste 06-24 connaît par la suite deux phases de prolongement, l’une en 1974, alors qu’elle atteindra 7500 pieds, et l’autre en 1979, à la suite de laquelle une longueur de 9000 pieds sera atteinte."|t }}</p>
            </div>

            <img src="/themes/custom/yqb/img/pages/history/expansion-m.jpg" class="img-mobile" alt="">
            <span class="legend legend-bottom-left">{{ "Vue aérienne des pistes de YQB en 1960"|t }}</span>
        </div>


        <div class="section no-padding-right">

            <div class="row">
                <div class="col-sm-7">
                    <div class="section-content">
                        <h2 class="title-default">{{ "1980-2000 : Cap sur l’expansion"|t }}</h2>

                        <p>{{ "Les années 1980 se dérouleront ensuite sous le signe de l’expansion et de la croissance. Construction d’une nouvelle route d’accès et renforcement de l’aire de trafic en 1981, travaux d’agrandissement des infrastructures, notamment de l’aérogare elle-même, des parcs de stationnement automobiles et de l’aire de stationnement des aéronefs de 1982 à 1984… L’aéroport de Québec prend une nouvelle envergure et devient, en 1993, l’Aéroport international Jean-Lesage. C’est en 1996 que le caractère international de l’aéroport se voit de nouveau confirmé alors que la nouvelle zone internationale de l’aérogare est inaugurée. L’année suivante, une nouvelle tour de contrôle est mise en place, de même que le complexe Aviation de NAV Canada."|t }}</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="img-wrapper">
                        <img src="/themes/custom/yqb/img/pages/history/1980.jpg" alt="">
                        <span class="legend legend-block">{{ "La tour de contrôle et l’aérogare en 1980"|t }}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="section section-green no-padding-left">

            <div class="row">
                <div class="col-sm-7 pull-right">
                    <div class="section-content">
                        <h2 class="title-default">{{ "2000-2015 : une nouvelle administration<br>et un ambitieux plan de croissance"|t }}</h2>

                        <p>{{ "En 2000, Transports Canada, jusqu’alors propriétaire de l’ensemble des installations, cède la gestion, l’exploitation et le développement de l’aéroport à un groupe de représentants du milieu socio-économique de la région soucieux de maintenir l’activité aéroportuaire à Québec afin de maintenir la vitalité économique de la Vieille Capitale : Aéroport de Québec inc. Au cours des années suivantes, les nouveaux dirigeants se fixent l’objectif de doter la ville de Québec et l’Est de la province d’une infrastructure répondant aux attentes et aux besoins des différents acteurs socioéconomiques et politiques de la région. Un vaste chantier de modernisation est lancé en 2006, pavant la voie à l’entrée de l’Aéroport international Jean-Lesage de Québec dans une nouvelle ère. À la suite des importants travaux, la nouvelle aérogare de l’Aéroport international Jean-Lesage de Québec est inaugurée en 2008."|t }}</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="img-wrapper">
                        <img src="/themes/custom/yqb/img/pages/history/2000.jpg" alt="">
                    </div>
                </div>
            </div>
            <span class="legend legend-bottom-left">{{ "Un stationnement étagé s’ajoute en 2014 aux installations modernisées"|t }}</span>
        </div>


        <div class="section section-bottom" style="background-image: url('/themes/custom/yqb/img/pages/history/2016.jpg')">
            <div class="section-content">
                <h2>{{ "2016 : Des investissements sans précédent"|t }}</h2>

                <p>{{ "Le plus grand projet d’agrandissement et de réaménagement de l’histoire de l’aéroport de Québec prend son envol. Quelque 277 M$ sont injectés dans des travaux d’envergure afin de soutenir la croissance de l’aérogare. Le projet YQB 2018 réunit plus d’une dizaine de projets de construction et prévoit une place de choix aux technologies d’avant-garde. Parmi les objectifs, celui de doubler la superficie des installations, pour offrir davantage de services, mais aussi de rendre l’expérience des voyageurs plus conviviale. Sur le plan de la technologie, tout est mis à contribution pour simplifier les procédures et de bonifier l’expérience des passagers : bornes de dédouanement en libre-service, dépôt de bagages automatisé, stations de recharges pour téléphones et tablettes, systèmes de communication et d’affichage dynamique… Les possibilités de la technologie sont nombreuses, et l’aéroport entend les mettre au profit de sa clientèle. Plus d’espace, plus de stationnements, plus de services… Voilà autant de moyens d’atteindre l’objectif que Aéroport de Québec inc. poursuit : passer le cap des deux millions de passagers en 2020."|t }}</p>
            </div>
        </div>

    </div>
</div>
