{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{% set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
] %}
{% set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
] %}

{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes.addClass(classes, 'field--items') }}>
            {% for item in items %}
                <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
          {{ loop.index }}
            <div{{ attributes.addClass(classes, 'field--item') }}>
                {{ item.content }}
              <div class="theover">
              <svg version="1.1" viewBox="0 0 97 69" xmlns="http://www.w3.org/2000/svg">
                <title>youtube-symbol</title>
                <desc>Created with Sketch.</desc>
                <g fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero">
                    <path d="m95.201 11.538c-1.186-5.152-5.4-8.953-10.473-9.52-12.013-1.341-24.172-1.348-36.275-1.341-12.105-7e-3 -24.266 0-36.279 1.341-5.07 0.567-9.281 4.368-10.467 9.52-1.688 7.337-1.707 15.346-1.707 22.9s0 15.562 1.688 22.898c1.184 5.151 5.396 8.952 10.469 9.52 12.012 1.342 24.172 1.349 36.277 1.342 12.107 7e-3 24.264 0 36.275-1.342 5.07-0.567 9.285-4.368 10.471-9.52 1.689-7.337 1.695-15.345 1.695-22.898 0-7.554 0.013996-15.563-1.674-22.9z" fill="#000"/>
                    <path d="m35.936 49.474v-32.037c10.267 5.357 20.466 10.678 30.798 16.068-10.3 5.342-20.504 10.631-30.798 15.969z" fill="#fff"/>
                  </g>
                </g>
              </svg>
              </div>
            </div>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% if multiple %}
        <div class="field--items">
            {% endif %}
            {% for item in items %}
                <div{{ item.attributes.addClass("field--item video-nb video-nb-#{loop.index}") }}>
                    {{ item.content }}
                  <div class="theover">
                  <svg version="1.1" viewBox="0 0 97 69" xmlns="http://www.w3.org/2000/svg">
                    <title>youtube-symbol</title>
                    <desc>Created with Sketch.</desc>
                    <g fill="none" fill-rule="evenodd">
                      <g fill-rule="nonzero">
                        <path d="m95.201 11.538c-1.186-5.152-5.4-8.953-10.473-9.52-12.013-1.341-24.172-1.348-36.275-1.341-12.105-7e-3 -24.266 0-36.279 1.341-5.07 0.567-9.281 4.368-10.467 9.52-1.688 7.337-1.707 15.346-1.707 22.9s0 15.562 1.688 22.898c1.184 5.151 5.396 8.952 10.469 9.52 12.012 1.342 24.172 1.349 36.277 1.342 12.107 7e-3 24.264 0 36.275-1.342 5.07-0.567 9.285-4.368 10.471-9.52 1.689-7.337 1.695-15.345 1.695-22.898 0-7.554 0.013996-15.563-1.674-22.9z" fill="#000"/>
                        <path d="m35.936 49.474v-32.037c10.267 5.357 20.466 10.678 30.798 16.068-10.3 5.342-20.504 10.631-30.798 15.969z" fill="#fff"/>
                      </g>
                    </g>
                  </svg>
                  </div>

                </div>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
